openapi: 3.1.0

info:
  title: OpenTerms Agent Action Observability API
  version: 0.2.0
  summary: Backend API for ingesting, evaluating, and querying ORS-conformant agent action receipts.
  description: |
    The OpenTerms Agent Action Observability API is the backend for the
    OpenTerms Agent Action Observability product. It accepts cryptographically
    signed receipts that conform to the Open Receipt Specification (ORS),
    evaluates them against a deterministic policy engine, persists them to an
    append-only log, and exposes query, simulation, and key-management endpoints
    for audit, compliance, and policy iteration.

    # ORS version target

    This contract accepts the **union of ORS v0.1 and ORS v0.2**. ORS v0.2 is
    fully backward compatible with v0.1 (the domain-separation prefix and signing
    algorithm are unchanged), so a single ingest pipeline validates both. v0.2
    optional payload fields (`terms_type`, `terms_service`, `terms_version`),
    the `model_training` action type, and the normative `ors.anchor` and
    `ors.zk_proof` extensions under `action_context.ors` are documented in this
    contract but are not required.

    Sources of truth:

    - ORS v0.1 spec: https://github.com/jstibal/ors-spec/blob/main/ORS-v0.1.md
    - ORS v0.2 spec: https://github.com/jstibal/ors-spec/blob/main/ORS-v0.2.md
    - Reference verifier (Python): https://github.com/jstibal/ors-spec/blob/main/verify.py
    - Reference implementation: https://github.com/jstibal/openterms-mcp

    # Receipt shape

    A receipt is a single flat JSON object containing three groups of fields:

    1. **Payload fields (signed, canonicalized)** — `workspace_id`, `agent_id`,
       `action_type`, `terms_url`, `terms_hash`, `timestamp`, `pricing_version`,
       plus optional `action_context`, `ors_version`, `issuer`, `provider`,
       `decision`, `request_binding`, and the v0.2 optional fields `terms_type`,
       `terms_service`, `terms_version`.
    2. **Signed envelope fields (also canonicalized)** — `receipt_id`,
       `amount_charged`, `created_at`.
    3. **Signature metadata (not canonicalized)** — `canonical_hash`,
       `signature`, `key_id`. These are outputs of the signing process and are
       added after the canonical hash is computed.

    Canonicalization is RFC 8785 with one additional rule: any key whose value
    is `null` (at any nesting level) is removed before serialization. The
    Ed25519 signature is over `b"ORSv0.1\x00"` concatenated with the raw 32-byte
    SHA-256 hash (40 bytes total).

    # Append-only semantics

    Receipts are immutable once persisted. There are no PUT, PATCH, or DELETE
    endpoints on receipts. Receipts that fail signature verification are not
    written to the receipts table; failed verifications log to a separate error
    stream. Duplicate ingest (same `canonical_hash`) is idempotent and returns
    the stored receipt unchanged.

    # Authentication

    Two authentication schemes are supported:

    - `bearerAuth` — workspace-scoped API key. Used by SDK consumers
      (`openterms-py`, `openterms-ts`, LangChain and CrewAI adapters).
    - `oauth2` — authorization-code OAuth flow with scopes `read`, `write`, and
      `admin:write`. Used by the dashboard (Polsia) and by interactive
      administrators.

    Admin-tier endpoints (`POST /v1/keys/rotate`,
    `PATCH /v1/policies/{id}/activate`, `PATCH /v1/workspace`) require either a
    workspace API key or an OAuth token with the `admin:write` scope.

    Two endpoints are public and accept no credentials:

    - `GET /v1/receipts/verify/{hash}` — public verification.
    - `GET /.well-known/jwks.json` — public key distribution.

    Both are CORS-open so any third party can verify receipts without contacting
    the service beyond the JWKS endpoint.

    # JWKS hosting

    The JWKS is served from the API origin at
    `https://api.observe.openterms.com/.well-known/jwks.json`. Receipts issued
    by this service set `issuer` to `https://api.observe.openterms.com`, so
    ORS issuer discovery resolves to the same JWKS URL.

  contact:
    name: OpenTerms
    url: https://observe.openterms.com
    email: support@openterms.com

  license:
    name: Apache-2.0
    identifier: Apache-2.0

servers:
  - url: https://api.observe.openterms.com/v1
    description: Production API
  - url: https://staging-api.observe.openterms.com/v1
    description: Staging API

# ============================================================================
# Security
# ============================================================================

security:
  - bearerAuth: []
  - oauth2: [read, write]

# ============================================================================
# Tags
# ============================================================================

tags:
  - name: Receipts
    description: Ingest, query, and verify ORS-conformant receipts.
  - name: Decisions
    description: Query the deterministic decision log.
  - name: Policies
    description: Manage versioned policy rule sets.
  - name: Simulation
    description: Replay candidate rule sets against historical receipts.
  - name: Keys
    description: Manage workspace signing keys.
  - name: Workspace
    description: Workspace configuration.
  - name: Webhooks
    description: Webhook delivery configuration and testing.
  - name: Public
    description: Endpoints that require no authentication and are CORS-open.
  - name: Admin
    description: Endpoints that require the admin:write scope or an admin-tier API key.

# ============================================================================
# Paths
# ============================================================================

paths:

  # --------------------------------------------------------------------------
  # Receipts
  # --------------------------------------------------------------------------

  /receipts/ingest:
    post:
      tags: [Receipts]
      summary: Ingest a signed ORS receipt
      description: |
        Accepts a signed ORS receipt (v0.1 or v0.2). The service:

        1. Validates the receipt against the ORS payload schema.
        2. Recomputes the canonical hash per ORS Section 4 and compares it to
           the receipt's `canonical_hash`.
        3. Looks up the public key by `key_id` in the workspace JWKS.
        4. Verifies the Ed25519 signature over `b"ORSv0.1\x00" + hash_bytes`.
        5. Deduplicates by `canonical_hash` unique index.
        6. Persists the verified receipt to the append-only log.

        Receipts that fail any validation, hash, or signature check are NOT
        written to the receipts table. Failed verifications log to a separate
        error stream and return a 422.

        Use the `Idempotency-Key` header to make retries safe. A replay with
        the same key and the same canonical hash returns the stored receipt. A
        replay with the same key and a *different* payload returns 409 with
        `IDEMPOTENCY_KEY_CONFLICT`.

        Receipts are immutable once persisted. There is no endpoint to modify
        or delete a receipt.
      operationId: ingestReceipt
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignedReceipt'
            examples:
              basicApiCall:
                $ref: '#/components/examples/BasicApiCallReceipt'
              dataAccessWithCommitments:
                $ref: '#/components/examples/DataAccessWithCommitmentsReceipt'
              policyClassificationV02:
                $ref: '#/components/examples/PolicyClassificationReceipt'
      responses:
        '201':
          description: Receipt ingested and persisted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestResponse'
        '200':
          description: |
            Receipt was already ingested (duplicate by canonical hash). Returns
            the stored receipt unchanged.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: Idempotency key collision with a different payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                idempotencyConflict:
                  value:
                    error:
                      code: IDEMPOTENCY_KEY_CONFLICT
                      message: An earlier request with this Idempotency-Key was processed with a different payload.
        '422':
          description: Receipt failed ORS schema validation, hash recomputation, or signature verification.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                hashMismatch:
                  value:
                    error:
                      code: HASH_MISMATCH
                      message: Recomputed canonical hash does not match the value in the receipt.
                      details:
                        expected: d486a0a0d298a91b52544aea298693f0ea3584d5f808955d7c09d5f99c16ee32
                        computed: 8b1c4e2a91f0...
                signatureInvalid:
                  value:
                    error:
                      code: SIGNATURE_INVALID
                      message: Ed25519 signature failed to verify against the workspace JWKS public key.
                      details:
                        key_id: key_abc123def456
                unknownIssuer:
                  value:
                    error:
                      code: UNKNOWN_ISSUER
                      message: The key_id on the receipt does not match any key in the workspace JWKS.
                      details:
                        key_id: key_2024_09_15_b1c2
        '429':
          $ref: '#/components/responses/RateLimited'

  /receipts:
    get:
      tags: [Receipts]
      summary: List receipts
      description: |
        List receipts in the workspace, scoped to the authenticated workspace.
        Supports filtering, aggregation, and cursor-based pagination. Cursor
        pagination is stable under concurrent inserts and uses the
        `(timestamp, receipt_id)` ordering.

        The `chain_id` filter reads from `action_context.ors.chain.chain_id`
        on each receipt's signed payload. The `issuer` filter matches the
        signed `issuer` payload field, when present.
      operationId: listReceipts
      parameters:
        - name: agent_id
          in: query
          schema: { type: string }
          description: Filter by agent identifier.
        - name: action_type
          in: query
          schema: { $ref: '#/components/schemas/ReceiptActionType' }
          description: Filter by ORS action type.
        - name: tool_id
          in: query
          schema: { type: string }
          description: Filter by tool identifier carried in `action_context.ors.commitments.tool_id`.
        - name: decision
          in: query
          schema: { $ref: '#/components/schemas/DecisionOutcome' }
          description: Filter by engine decision outcome (allow / deny / escalate).
        - name: triggered_rule
          in: query
          schema: { type: string }
          description: Filter to receipts whose decision triggered this rule ID.
        - name: chain_id
          in: query
          schema: { type: string }
          description: Filter to receipts in a specific multi-agent chain. Reads `action_context.ors.chain.chain_id`.
        - name: issuer
          in: query
          schema: { type: string, format: uri }
          description: Filter to receipts whose signed `issuer` payload field matches this value (HTTPS origin).
        - name: from
          in: query
          schema: { type: string, format: date-time }
          description: Inclusive lower bound on receipt `timestamp`.
        - name: to
          in: query
          schema: { type: string, format: date-time }
          description: Inclusive upper bound on receipt `timestamp`.
        - name: q
          in: query
          schema: { type: string }
          description: Full-text search across the structured reasons field of the associated decision.
        - name: aggregate
          in: query
          schema:
            type: string
            enum:
              - none
              - count_by_decision
              - count_by_rule
              - count_by_tool
              - count_by_agent
              - count_by_hour
              - count_by_day
            default: none
          description: |
            Aggregation mode. `none` returns individual receipts. Aggregation
            modes return counts grouped by the specified dimension.
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
        - name: cursor
          in: query
          schema: { type: string }
          description: Opaque cursor from the previous page's `next_cursor`.
      responses:
        '200':
          description: A page of receipts or an aggregation result.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ReceiptListResponse'
                  - $ref: '#/components/schemas/AggregateResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /receipts/{hash}:
    get:
      tags: [Receipts]
      summary: Get a single receipt
      description: |
        Returns one receipt by canonical hash, scoped to the authenticated
        workspace. The response includes the full signed receipt and the
        associated engine decision if one has been computed.
      operationId: getReceipt
      parameters:
        - $ref: '#/components/parameters/ReceiptHash'
      responses:
        '200':
          description: The receipt and its associated engine decision.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReceiptWithDecision'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /receipts/verify/{hash}:
    get:
      tags: [Receipts, Public]
      summary: Verify a receipt signature (public)
      description: |
        Public endpoint, CORS-open, no authentication required. Recomputes the
        canonical hash on the stored receipt and verifies the Ed25519 signature
        against the issuer's JWKS public key. Returns a verification result
        whose shape mirrors the reference Python verifier
        (`github.com/jstibal/ors-spec/blob/main/verify.py`).

        Path follows the ORS spec convention (`/v1/receipts/verify/{hash}`) for
        ecosystem interop with provider verification flows described in ORS
        Section 9. The earlier draft path `/v1/receipts/{hash}/verify` is not
        served.

        This endpoint exists so any third party (auditor, regulator, API
        provider, counterparty) can confirm receipt authenticity without an
        account.
      operationId: verifyReceipt
      security: []
      parameters:
        - $ref: '#/components/parameters/ReceiptHash'
      responses:
        '200':
          description: Verification result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationResult'
        '404':
          $ref: '#/components/responses/NotFound'

  # --------------------------------------------------------------------------
  # Decisions
  # --------------------------------------------------------------------------

  /decisions:
    get:
      tags: [Decisions]
      summary: Query the decision log
      description: |
        List policy decisions in the workspace. Decisions are deterministic:
        the same `(policy_version, receipt)` input always produces the same
        decision. Supports the same filtering and pagination as `/receipts`
        plus a filter on policy version.
      operationId: listDecisions
      parameters:
        - name: agent_id
          in: query
          schema: { type: string }
        - name: action_type
          in: query
          schema: { $ref: '#/components/schemas/ReceiptActionType' }
        - name: tool_id
          in: query
          schema: { type: string }
        - name: decision
          in: query
          schema: { $ref: '#/components/schemas/DecisionOutcome' }
        - name: triggered_rule
          in: query
          schema: { type: string }
        - name: chain_id
          in: query
          schema: { type: string }
        - name: issuer
          in: query
          schema: { type: string, format: uri }
        - name: policy_version
          in: query
          schema: { type: string }
          description: Filter to decisions made under a specific policy version.
        - name: from
          in: query
          schema: { type: string, format: date-time }
        - name: to
          in: query
          schema: { type: string, format: date-time }
        - name: q
          in: query
          schema: { type: string }
          description: Full-text search on the structured reasons field.
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
        - name: cursor
          in: query
          schema: { type: string }
      responses:
        '200':
          description: A page of decisions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # --------------------------------------------------------------------------
  # Policies
  # --------------------------------------------------------------------------

  /policies:
    get:
      tags: [Policies]
      summary: List policy versions
      description: List all policy versions for the workspace, most recent first. The active version is marked.
      operationId: listPolicies
      responses:
        '200':
          description: List of policy versions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  policies:
                    type: array
                    items: { $ref: '#/components/schemas/Policy' }
                  active_id:
                    type: [string, "null"]
                    description: The ID of the currently active policy version, or null if no version is active.
                required: [policies, active_id]
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [Policies]
      summary: Create a new policy version
      description: |
        Create a new policy version. The new version is created as inactive.
        Call `PATCH /policies/{id}/activate` to make it the active version.
      operationId: createPolicy
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PolicyInput' }
      responses:
        '201':
          description: Policy version created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Policy' }
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /policies/{id}/activate:
    patch:
      tags: [Policies, Admin]
      summary: Activate a policy version (admin)
      description: |
        Activate the specified policy version. The previously active version is
        deactivated. Only one version is active at a time. The activation is
        immediate; all subsequent receipt evaluations use the new version.

        Admin-tier endpoint. Requires the `admin:write` OAuth scope or an
        admin-capable workspace API key.
      operationId: activatePolicy
      security:
        - bearerAuth: []
        - oauth2: [admin:write]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Policy activated.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Policy' }
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  # --------------------------------------------------------------------------
  # Policy evaluation (stateless)
  # --------------------------------------------------------------------------

  /policy/evaluate:
    post:
      tags: [Policies, Simulation]
      summary: Evaluate a receipt against a policy version (stateless)
      description: |
        Stateless evaluation of a receipt against a specified policy version.
        Returns the decision without persisting anything. Used by the
        simulation backend and by client-side dry-runs.

        Deterministic: the same `(policy_version, receipt)` input always
        produces the same output. Pattern-evaluation timeouts surface as a
        `deny` decision with reason `TIMEOUT`; they are not HTTP errors.
      operationId: evaluatePolicy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                policy_version:
                  type: string
                  description: The policy version ID to evaluate against.
                receipt:
                  $ref: '#/components/schemas/SignedReceipt'
              required: [policy_version, receipt]
      responses:
        '200':
          description: Decision result.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Decision' }
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          description: Policy version not found.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          $ref: '#/components/responses/Unauthorized'

  # --------------------------------------------------------------------------
  # Simulation
  # --------------------------------------------------------------------------

  /simulate:
    post:
      tags: [Simulation]
      summary: Replay a candidate policy against historical receipts
      description: |
        Replay a candidate policy version against the historical receipt corpus
        for the specified time range. Returns counterfactual decision counts,
        a diff against the decisions actually recorded during the period, and
        a deterministic sample of receipts where the counterfactual differs.

        Simulation is read-only on the receipt corpus. It does not affect live
        agent behavior or modify any stored decision.

        Small corpora return synchronously with 200. Larger corpora return 202
        with a `job_id` that the client polls via `GET /simulate/{job_id}`.
      operationId: simulate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                candidate_policy:
                  oneOf:
                    - type: string
                      description: An existing policy version ID to test.
                    - $ref: '#/components/schemas/PolicyInput'
                from:
                  type: string
                  format: date-time
                to:
                  type: string
                  format: date-time
                sample_size:
                  type: integer
                  default: 100
                  minimum: 0
                  maximum: 1000
                  description: Maximum number of differing receipts to return in the sample.
              required: [candidate_policy, from, to]
      responses:
        '200':
          description: Simulation completed synchronously (small corpus).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SimulationResult' }
        '202':
          description: Simulation accepted and running asynchronously. Poll `/simulate/{job_id}`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id: { type: string }
                  status: { type: string, enum: [queued, running] }
                required: [job_id, status]
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /simulate/{job_id}:
    get:
      tags: [Simulation]
      summary: Poll a simulation job
      description: Get the status and (if complete) the result of an async simulation job.
      operationId: getSimulationJob
      parameters:
        - name: job_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Job status and result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id: { type: string }
                  status:
                    type: string
                    enum: [queued, running, complete, failed]
                  result:
                    oneOf:
                      - $ref: '#/components/schemas/SimulationResult'
                      - type: "null"
                  error:
                    oneOf:
                      - $ref: '#/components/schemas/Error'
                      - type: "null"
                required: [job_id, status]
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # --------------------------------------------------------------------------
  # Keys
  # --------------------------------------------------------------------------

  /keys:
    get:
      tags: [Keys]
      summary: List signing keys
      description: |
        Returns the workspace's signing keys. Each key has a status (`active`
        or `inactive`). Both active and inactive keys remain in the JWKS
        indefinitely so receipts signed under prior keys continue to verify.

        Private key material is never returned. Only the public key and
        metadata.
      operationId: listKeys
      responses:
        '200':
          description: List of keys.
          content:
            application/json:
              schema:
                type: object
                properties:
                  keys:
                    type: array
                    items: { $ref: '#/components/schemas/PublicKey' }
                required: [keys]
        '401':
          $ref: '#/components/responses/Unauthorized'

  /keys/rotate:
    post:
      tags: [Keys, Admin]
      summary: Rotate the active signing key (admin)
      description: |
        Generate a new Ed25519 key pair. The new key becomes the active signing
        key. The previously active key is marked inactive but remains in the
        JWKS indefinitely so receipts signed under it continue to verify.

        The new private key is stored encrypted in the service environment and
        is never returned in the response. Only the new public key and key ID
        are returned.

        Admin-tier endpoint. Requires the `admin:write` OAuth scope or an
        admin-capable workspace API key.
      operationId: rotateKey
      security:
        - bearerAuth: []
        - oauth2: [admin:write]
      responses:
        '201':
          description: New signing key generated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  new_key: { $ref: '#/components/schemas/PublicKey' }
                  previous_key_id:
                    type: [string, "null"]
                    description: The key ID of the key that was just deactivated, or null if this is the first key.
                required: [new_key, previous_key_id]
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  # --------------------------------------------------------------------------
  # Workspace
  # --------------------------------------------------------------------------

  /workspace:
    get:
      tags: [Workspace]
      summary: Get workspace configuration
      operationId: getWorkspace
      responses:
        '200':
          description: Workspace metadata.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Workspace' }
        '401':
          $ref: '#/components/responses/Unauthorized'

    patch:
      tags: [Workspace, Admin]
      summary: Update workspace configuration (admin)
      description: |
        Update workspace metadata. Admin-tier endpoint. Requires the
        `admin:write` OAuth scope or an admin-capable workspace API key.
      operationId: updateWorkspace
      security:
        - bearerAuth: []
        - oauth2: [admin:write]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                contact_email: { type: string, format: email }
                webhook_url:
                  type: [string, "null"]
                  format: uri
              additionalProperties: false
      responses:
        '200':
          description: Workspace updated.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Workspace' }
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  # --------------------------------------------------------------------------
  # Webhooks
  # --------------------------------------------------------------------------

  /webhooks/test:
    post:
      tags: [Webhooks]
      summary: Send a sample webhook delivery
      description: |
        Send a synthetic event to the workspace's configured `webhook_url`.
        The service performs a single delivery attempt and returns the result
        (status code, latency, error if any). No retries.

        This endpoint exists for client-side verification of webhook
        connectivity during onboarding and integration testing. Test deliveries
        are not persisted to any receipt or decision log.
      operationId: testWebhook
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type:
                  type: string
                  default: test.delivery
                  description: The synthetic event type to send. Defaults to `test.delivery`.
              additionalProperties: false
      responses:
        '200':
          description: Delivery attempt completed (success or failure).
          content:
            application/json:
              schema:
                type: object
                properties:
                  delivery_id: { type: string }
                  delivered: { type: boolean }
                  status_code:
                    type: [integer, "null"]
                    description: HTTP status code returned by the webhook target. Null if no response was received.
                  latency_ms:
                    type: [integer, "null"]
                    description: Round-trip latency in milliseconds. Null if no response was received.
                  error:
                    type: [string, "null"]
                    description: Error description if delivery failed.
                required: [delivery_id, delivered, status_code, latency_ms, error]
        '400':
          description: Workspace has no configured webhook_url.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          $ref: '#/components/responses/Unauthorized'

  # --------------------------------------------------------------------------
  # Public — JWKS
  # --------------------------------------------------------------------------

  /.well-known/jwks.json:
    get:
      tags: [Public, Keys]
      summary: JWKS endpoint (public)
      description: |
        Public key distribution per RFC 7517. Returns the workspace's active
        and inactive public Ed25519 keys in JWKS format. CORS-open and
        edge-cached with `Cache-Control: public, max-age=86400` (per ORS
        Section 7.1 guidance).

        This endpoint requires no authentication. Any third party fetches the
        JWKS and verifies receipts independently.

        Hosted at the API origin: in production
        `https://api.observe.openterms.com/.well-known/jwks.json`. Receipts
        issued by this service set `issuer` to
        `https://api.observe.openterms.com`, so verifiers performing ORS issuer
        discovery (Section 7.3) resolve to the same URL.
      operationId: getJwks
      security: []
      servers:
        - url: https://api.observe.openterms.com
          description: Production JWKS host (API origin, not under /v1).
        - url: https://staging-api.observe.openterms.com
          description: Staging JWKS host.
      responses:
        '200':
          description: JWKS document.
          headers:
            Cache-Control:
              schema: { type: string }
              description: 'Recommended value: `public, max-age=86400`.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  keys:
                    type: array
                    items: { $ref: '#/components/schemas/JwksKey' }
                required: [keys]
        '404':
          description: |
            JWKS has not yet been provisioned for this host. Returned only
            during initial workspace setup before the first signing key is
            generated. A correctly provisioned production service always
            returns 200.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

# ============================================================================
# Components
# ============================================================================

components:

  securitySchemes:

    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: |
        Workspace-scoped API key. Used by SDK consumers (`openterms-py`,
        `openterms-ts`, LangChain and CrewAI adapters). Pass as
        `Authorization: Bearer <api_key>`.

    oauth2:
      type: oauth2
      description: |
        OAuth 2.0 authorization-code flow for dashboard and interactive admin
        users. Issued by the OpenTerms identity provider.
      flows:
        authorizationCode:
          authorizationUrl: https://observe.openterms.com/oauth/authorize
          tokenUrl: https://observe.openterms.com/oauth/token
          refreshUrl: https://observe.openterms.com/oauth/token
          scopes:
            read: Read receipts, decisions, policies, keys, workspace.
            write: Create policies, mutate non-admin workspace state.
            admin:write: Rotate keys, activate policies, update workspace settings.

  # --------------------------------------------------------------------------
  # Reusable parameters
  # --------------------------------------------------------------------------

  parameters:

    ReceiptHash:
      name: hash
      in: path
      required: true
      schema:
        type: string
        pattern: '^[0-9a-f]{64}$'
        minLength: 64
        maxLength: 64
      description: The canonical hash of the receipt. Exactly 64 lowercase hex characters (SHA-256).

    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      schema: { type: string, maxLength: 128 }
      description: |
        Client-supplied idempotency key. If a request with this key has been
        processed previously and the payload is identical, the stored response
        is returned instead of re-processing. If the payload differs, the
        service returns 409 `IDEMPOTENCY_KEY_CONFLICT`.

  # --------------------------------------------------------------------------
  # Reusable responses
  # --------------------------------------------------------------------------

  responses:

    ValidationError:
      description: Request validation failed.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          examples:
            missingField:
              value:
                error:
                  code: VALIDATION_ERROR
                  message: Receipt is missing required field 'terms_hash'.
                  details:
                    field: terms_hash

    Unauthorized:
      description: Missing or invalid authentication.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }

    Forbidden:
      description: Authenticated, but lacks the required scope (e.g. `admin:write`).
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }

    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }

    RateLimited:
      description: Request rate limit exceeded.
      headers:
        Retry-After:
          schema: { type: integer }
          description: Seconds until the next request is permitted.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }

  # --------------------------------------------------------------------------
  # Schemas
  # --------------------------------------------------------------------------

  schemas:

    # ----- Enums -----

    DecisionOutcome:
      type: string
      enum: [allow, deny, escalate]
      description: |
        The three possible outcomes of policy engine evaluation. Distinct from
        the ORS receipt-asserted `decision` field (`acknowledged` / `declined`)
        which records what the agent self-attested at issuance time.

    ReceiptDecision:
      type: string
      enum: [acknowledged, declined]
      description: |
        The receipt-asserted decision (ORS payload field `decision`). Default
        is `acknowledged`. A receipt with `decision: declined` is a refusal
        receipt — proof that an action was declined under a specific policy.
        Distinct from the policy engine's `DecisionOutcome`.

    ReceiptActionType:
      type: string
      enum: [api_call, data_access, purchase, custom, model_training]
      description: |
        The ORS action_type enum. `api_call`, `data_access`, `purchase`, and
        `custom` are defined in ORS v0.1 Section 3a. `model_training` was added
        in ORS v0.2.

    # ----- ORS extension namespaces (under action_context.ors) -----

    ReceiptActionContext:
      type: object
      description: |
        Freeform metadata about the action. MUST have at most 50 top-level
        keys and a serialized size of at most 4096 bytes. MUST NOT contain
        PII. The reserved key `ors` is used for ORS-defined extension
        namespaces (`commitments`, `chain`, `anchor`, `zk_proof`); see ORS
        Section 11. All other keys are issuer-defined.
      properties:
        ors:
          type: object
          description: ORS reserved extension namespace.
          properties:
            commitments: { $ref: '#/components/schemas/OrsCommitments' }
            chain: { $ref: '#/components/schemas/OrsChain' }
            anchor: { $ref: '#/components/schemas/OrsAnchor' }
            zk_proof: { $ref: '#/components/schemas/OrsZkProof' }
          additionalProperties: true
      additionalProperties: true
      maxProperties: 50

    OrsCommitments:
      type: object
      description: |
        Hash commitments under `action_context.ors.commitments`. Informational
        in v0.1, governance-grade provenance extension. All hashes are 64
        lowercase hex (SHA-256).
      properties:
        tool_id: { type: string }
        args_hash: { type: string, pattern: '^[0-9a-f]{64}$' }
        pre_state_hash: { type: string, pattern: '^[0-9a-f]{64}$' }
        post_state_hash: { type: string, pattern: '^[0-9a-f]{64}$' }
        policy_hash: { type: string, pattern: '^[0-9a-f]{64}$' }
      additionalProperties: true

    OrsChain:
      type: object
      description: |
        Multi-agent chain fields under `action_context.ors.chain`. Source of
        the `chain_id` filter on `/receipts` and `/decisions`.
      properties:
        parent_receipt_id: { type: string, format: uuid }
        chain_id: { type: string }
        chain_depth: { type: integer, minimum: 0 }
        originating_agent: { type: string }
      additionalProperties: true

    OrsAnchor:
      type: object
      description: |
        Transparency / Merkle anchor under `action_context.ors.anchor`.
        Promoted to normative in ORS v0.2 (Section 11.1). Leaf construction:
        `SHA256("ORS_LEAF_V1" || canonical_hash_bytes)`.
      properties:
        type: { type: string, description: 'Anchor type identifier, e.g. `merkle`.' }
        root_hash: { type: string, pattern: '^[0-9a-f]{64}$' }
        tree_size: { type: integer, minimum: 1 }
        leaf_index: { type: integer, minimum: 0 }
        inclusion_proof:
          type: array
          items: { type: string, description: Base64url-encoded sibling hash. }
        anchor_uri: { type: string, format: uri }
      additionalProperties: true

    OrsZkProof:
      type: object
      description: |
        Zero-knowledge proof reference under `action_context.ors.zk_proof`.
        Promoted to normative in ORS v0.2 (Section 11.1). The receipt's
        `canonical_hash` MUST be a public input to the proof circuit so the
        proof cannot be detached and replayed against a different receipt.
      properties:
        system: { type: string, description: 'Proof system identifier, e.g. `groth16`.' }
        statement_hash: { type: string, pattern: '^[0-9a-f]{64}$' }
        proof_hash: { type: string, pattern: '^[0-9a-f]{64}$' }
        proof_uri: { type: string, format: uri }
        verified_at: { type: string, format: date-time }
      additionalProperties: true

    # ----- ORS provider / request binding -----

    Provider:
      type: object
      description: |
        Optional provider identity binding on the signed payload. When present,
        the receipt is bound to a specific provider origin and cannot be
        context-shifted. See ORS Section 3a.1.
      properties:
        origin:
          type: string
          format: uri
          description: |
            Provider HTTPS origin in normalized form: `https://{host}` or
            `https://{host}:{port}`. Host lowercase. Default port (443)
            omitted. No trailing slash. No path.
          pattern: '^https://[a-z0-9.-]+(:[0-9]+)?$'
        provider_id:
          type: string
          description: Provider identifier used by the issuer or provider.
      required: [origin]
      additionalProperties: false

    RequestBinding:
      type: object
      description: |
        Optional binding to a specific provider challenge or request
        commitment. See ORS Section 3a.2. If `binding_method` is
        `provider_nonce`, `provider_nonce` MUST be present. If `request_hash`,
        `request_hash` MUST be present. If `both`, both MUST be present.
      properties:
        provider_nonce: { type: string }
        request_hash: { type: string, pattern: '^[0-9a-f]{64}$' }
        expires_at: { type: string, format: date-time }
        binding_method:
          type: string
          enum: [provider_nonce, request_hash, both]
      additionalProperties: false

    # ----- Signed receipt (the wire format) -----

    SignedReceipt:
      type: object
      description: |
        A complete signed ORS receipt as transmitted on the wire. Flat
        structure per ORS Sections 3a–3c. The signed portion (everything
        except `canonical_hash`, `signature`, `key_id`) is canonicalized via
        RFC 8785 plus the ORS null-stripping rule, hashed with SHA-256, and
        signed with Ed25519 over `b"ORSv0.1\x00" + hash_bytes`.

        Accepts both ORS v0.1 and v0.2 receipts. Fields tagged "v0.2" in
        descriptions are optional and only meaningful when `ors_version` is
        `0.2`.
      properties:

        # --- Section 3a: required signed payload ---
        workspace_id:
          type: string
          format: uuid
          description: UUID v4 identifier for the workspace or organization issuing the receipt.
        agent_id:
          type: string
          description: Identifier for the AI agent taking the action.
        action_type:
          $ref: '#/components/schemas/ReceiptActionType'
        terms_url:
          type: string
          format: uri
          description: URL of the terms document being acknowledged. MUST be `http://` or `https://`.
          pattern: '^https?://'
        terms_hash:
          type: string
          description: SHA-256 hash of the terms document content. Lowercase hex, exactly 64 characters. No `sha256:` prefix.
          pattern: '^[0-9a-f]{64}$'
        timestamp:
          type: string
          format: date-time
          description: When the agent requested the receipt. UTC, MUST end with `Z`. Format `YYYY-MM-DDTHH:MM:SS.sssZ`.
        pricing_version:
          type: string
          description: Version identifier for the issuer's pricing schedule.

        # --- Section 3a: optional signed payload ---
        action_context:
          $ref: '#/components/schemas/ReceiptActionContext'
        ors_version:
          type: string
          enum: ['0.1', '0.2']
          description: |
            ORS format version. Optional. If absent, verifiers SHOULD assume
            `0.1`.
        issuer:
          type: string
          format: uri
          description: |
            Issuer identifier for JWKS discovery. MUST be an HTTPS origin (no
            trailing slash, no path). If present, it is signed. For receipts
            issued by this service the value is
            `https://api.observe.openterms.com`.
          pattern: '^https://[a-z0-9.-]+(:[0-9]+)?$'
        provider:
          $ref: '#/components/schemas/Provider'
        decision:
          $ref: '#/components/schemas/ReceiptDecision'
        request_binding:
          $ref: '#/components/schemas/RequestBinding'

        # --- v0.2 optional signed payload ---
        terms_type:
          type: string
          description: |
            v0.2. Kind of policy acknowledged (e.g. "Privacy Policy", "Data
            Processing Agreement", "Terms of Service"). Recommended values
            follow the Open Terms Archive vocabulary.
        terms_service:
          type: string
          description: v0.2. Slug identifying the service whose policy was acknowledged (e.g. `openai`, `aws`, `github`).
        terms_version:
          type: string
          description: v0.2. Version of the policy document at acknowledgment time. Typically a date string `YYYY-MM-DD`. Distinct from `pricing_version`.

        # --- Section 3b: signed envelope fields ---
        receipt_id:
          type: string
          format: uuid
          description: UUID v4 unique identifier for this receipt. Generated by the issuer before signing. Signed.
        amount_charged:
          type: integer
          description: Cost of this receipt in minor currency units. Signed to prevent economic tampering.
        created_at:
          type: string
          format: date-time
          description: Issuer timestamp when the receipt was created. UTC, ends with `Z`. Signed.

        # --- Section 3c: signature metadata (NOT signed) ---
        canonical_hash:
          type: string
          description: |
            SHA-256 of the canonical JSON payload (signed fields only).
            Lowercase hex, 64 characters. NOT included in canonicalization.
          pattern: '^[0-9a-f]{64}$'
        signature:
          type: string
          description: |
            Ed25519 signature, base64url-encoded without padding (RFC 4648
            Section 5). 64 raw signature bytes encode to 86 base64url
            characters. NOT included in canonicalization.
          pattern: '^[A-Za-z0-9_-]+$'
        key_id:
          type: string
          description: |
            Identifier of the signing key used. Maps to the `kid` field of the
            corresponding JWKS entry. NOT included in canonicalization.

      required:
        - workspace_id
        - agent_id
        - action_type
        - terms_url
        - terms_hash
        - timestamp
        - pricing_version
        - receipt_id
        - amount_charged
        - created_at
        - canonical_hash
        - signature
        - key_id
      additionalProperties: true

    # ----- Ingest -----

    IngestResponse:
      type: object
      properties:
        hash:
          type: string
          pattern: '^[0-9a-f]{64}$'
          description: Canonical hash of the ingested receipt.
        ingested_at:
          type: string
          format: date-time
        duplicate:
          type: boolean
          description: True if this receipt was already ingested previously (returned unchanged).
        receipt:
          $ref: '#/components/schemas/SignedReceipt'
      required: [hash, ingested_at, duplicate, receipt]

    # ----- Decisions -----

    Decision:
      type: object
      properties:
        decision:
          $ref: '#/components/schemas/DecisionOutcome'
        triggered_rules:
          type: array
          items: { type: string }
          description: Rule IDs that fired during evaluation, in evaluation order.
        reasons:
          type: array
          items: { type: string }
          description: |
            Structured strings explaining why the decision was reached. The
            string `TIMEOUT` appears here when pattern evaluation exceeded its
            time budget (the decision is then `deny`).
        policy_version:
          type: string
        evaluated_at:
          type: string
          format: date-time
      required: [decision, triggered_rules, reasons, policy_version, evaluated_at]

    DecisionListResponse:
      type: object
      properties:
        decisions:
          type: array
          items:
            allOf:
              - $ref: '#/components/schemas/Decision'
              - type: object
                properties:
                  receipt_hash:
                    type: string
                    pattern: '^[0-9a-f]{64}$'
                required: [receipt_hash]
        next_cursor:
          type: [string, "null"]
      required: [decisions, next_cursor]

    # ----- Receipts list / detail -----

    ReceiptWithDecision:
      type: object
      properties:
        receipt:
          $ref: '#/components/schemas/SignedReceipt'
        hash:
          type: string
          pattern: '^[0-9a-f]{64}$'
        ingested_at:
          type: string
          format: date-time
        decision:
          oneOf:
            - $ref: '#/components/schemas/Decision'
            - type: "null"
          description: The engine decision associated with this receipt, or null if no decision has been computed yet.
      required: [receipt, hash, ingested_at, decision]

    ReceiptListResponse:
      type: object
      properties:
        receipts:
          type: array
          items: { $ref: '#/components/schemas/ReceiptWithDecision' }
        next_cursor:
          type: [string, "null"]
      required: [receipts, next_cursor]

    AggregateResponse:
      type: object
      properties:
        dimension:
          type: string
          description: The dimension that was aggregated by (e.g. `decision`, `rule`, `tool`, `agent`, `hour`, `day`).
        buckets:
          type: array
          items:
            type: object
            properties:
              key: { type: string }
              count: { type: integer, minimum: 0 }
            required: [key, count]
      required: [dimension, buckets]

    # ----- Policies -----

    Policy:
      type: object
      properties:
        id: { type: string }
        version: { type: string }
        name:
          type: [string, "null"]
        rules:
          type: array
          items: { $ref: '#/components/schemas/Rule' }
        active: { type: boolean }
        created_at: { type: string, format: date-time }
      required: [id, version, rules, active, created_at]

    PolicyInput:
      type: object
      properties:
        name:
          type: [string, "null"]
        rules:
          type: array
          items: { $ref: '#/components/schemas/Rule' }
      required: [rules]

    Rule:
      type: object
      description: |
        A single rule in a policy rule set. Rule type names follow the build
        brief Section 8 step 4. The `parameters` object schema depends on
        `type` and is documented per rule type in the platform documentation.

        Pattern evaluation in `args_pattern_match` is bounded in time
        (under 5 ms per receipt at p99). Pattern evaluation timeouts surface
        as a `deny` decision with reason `TIMEOUT` rather than an HTTP error.
      properties:
        id: { type: string }
        type:
          type: string
          enum:
            - max_amount
            - daily_limit
            - action_type_allowlist
            - action_type_denylist
            - url_prefix_allowlist
            - url_prefix_denylist
            - escalation_threshold
            - tool_id_allowlist
            - args_pattern_match
            - post_state_assertion
        outcome:
          $ref: '#/components/schemas/DecisionOutcome'
          description: The outcome to return if this rule fires.
        parameters:
          type: object
          description: |
            Parameters specific to this rule type. Schema depends on `type` and
            is documented per rule type in the platform documentation.
          additionalProperties: true
      required: [id, type, outcome, parameters]

    # ----- Simulation -----

    SimulationResult:
      type: object
      properties:
        counterfactual_counts:
          type: object
          description: |
            Decision counts produced by evaluating the candidate policy against
            the corpus. Keyed by engine decision outcome.
          properties:
            allow: { type: integer, minimum: 0 }
            deny: { type: integer, minimum: 0 }
            escalate: { type: integer, minimum: 0 }
          required: [allow, deny, escalate]
        actual_counts:
          type: object
          description: Decision counts that were actually recorded in the period.
          properties:
            allow: { type: integer, minimum: 0 }
            deny: { type: integer, minimum: 0 }
            escalate: { type: integer, minimum: 0 }
          required: [allow, deny, escalate]
        diff_summary:
          type: object
          description: Receipts where the counterfactual decision differs from the actual decision.
          properties:
            total_diffs: { type: integer, minimum: 0 }
            by_rule:
              type: object
              additionalProperties: { type: integer, minimum: 0 }
              description: Number of diffs attributable to each rule.
            by_tool:
              type: object
              additionalProperties: { type: integer, minimum: 0 }
          required: [total_diffs, by_rule, by_tool]
        sample:
          type: array
          description: |
            Up to `sample_size` receipts where the counterfactual differs from
            the actual decision. Deterministic across re-runs of the same
            simulation input.
          items:
            type: object
            properties:
              receipt_hash:
                type: string
                pattern: '^[0-9a-f]{64}$'
              actual_decision: { $ref: '#/components/schemas/DecisionOutcome' }
              counterfactual_decision: { $ref: '#/components/schemas/DecisionOutcome' }
              counterfactual_reasons:
                type: array
                items: { type: string }
            required:
              - receipt_hash
              - actual_decision
              - counterfactual_decision
              - counterfactual_reasons
        evaluated_at:
          type: string
          format: date-time
        receipts_evaluated:
          type: integer
          minimum: 0
      required:
        - counterfactual_counts
        - actual_counts
        - diff_summary
        - sample
        - evaluated_at
        - receipts_evaluated

    # ----- Keys -----

    PublicKey:
      type: object
      description: |
        Public-key metadata for one of the workspace's signing keys. The same
        public-key bytes appear as the `x` field on the corresponding JWKS
        entry. `kid` here equals `key_id` on receipts and `kid` in the JWKS.
      properties:
        kid:
          type: string
          description: Key identifier. Equals `key_id` on receipts and `kid` in the JWKS.
        created_at:
          type: string
          format: date-time
        status:
          type: string
          enum: [active, inactive]
          description: |
            `active` is the key currently used for signing new receipts.
            `inactive` keys remain published for verification of previously
            signed receipts.
        public_key:
          type: string
          description: Base64url-encoded Ed25519 public key (32 raw bytes → 43 base64url characters).
          pattern: '^[A-Za-z0-9_-]+$'
      required: [kid, created_at, status, public_key]

    JwksKey:
      type: object
      description: |
        A key entry in the JWKS document per RFC 7517. Fields are limited to
        the standard JWK members so any RFC 7517 verifier accepts the
        document. Lifecycle status (active/inactive) is exposed on
        `PublicKey`, not in the JWKS itself.
      properties:
        kty:
          type: string
          enum: [OKP]
        crv:
          type: string
          enum: [Ed25519]
        kid:
          type: string
        use:
          type: string
          enum: [sig]
        alg:
          type: string
          enum: [EdDSA]
        x:
          type: string
          description: Base64url-encoded Ed25519 public key (32 raw bytes → 43 base64url characters).
          pattern: '^[A-Za-z0-9_-]+$'
      required: [kty, crv, kid, use, x]

    VerificationResult:
      type: object
      description: |
        Mirrors the output of the reference Python verifier
        (`github.com/jstibal/ors-spec/blob/main/verify.py`).
      properties:
        valid: { type: boolean }
        canonical_hash:
          type: [string, "null"]
          description: Recomputed canonical hash. Null if verification failed before hash recomputation.
        key_id:
          type: [string, "null"]
          description: Key ID used for verification. Null if key lookup did not occur.
        receipt_id:
          type: [string, "null"]
          format: uuid
        decision:
          oneOf:
            - $ref: '#/components/schemas/ReceiptDecision'
            - type: "null"
          description: The receipt-asserted decision, if present on the verified receipt.
        jwks_source:
          type: [string, "null"]
          description: The JWKS URL or source identifier used.
        verified_at:
          type: string
          format: date-time
        error:
          type: [string, "null"]
          enum:
            - HASH_MISMATCH
            - KEY_NOT_FOUND
            - UNSUPPORTED_KEY_TYPE
            - INVALID_SIGNATURE
            - INVALID_KEY_LENGTH
            - INVALID_SIGNATURE_LENGTH
            - null
          description: If `valid` is false, the failure category. Null on success.
      required: [valid, canonical_hash, key_id, verified_at, error]

    # ----- Workspace -----

    Workspace:
      type: object
      properties:
        workspace_id: { type: string, format: uuid }
        name: { type: string }
        contact_email: { type: string, format: email }
        webhook_url:
          type: [string, "null"]
          format: uri
        active_signing_key_id: { type: string }
        jwks_url:
          type: string
          format: uri
          description: |
            Public JWKS URL for this workspace. For receipts issued by this
            service the value is
            `https://api.observe.openterms.com/.well-known/jwks.json`.
        issuer:
          type: string
          format: uri
          description: |
            The HTTPS origin written into the `issuer` payload field on
            receipts issued by this workspace. For the production service this
            is `https://api.observe.openterms.com`.
      required:
        - workspace_id
        - name
        - contact_email
        - webhook_url
        - active_signing_key_id
        - jwks_url
        - issuer

    # ----- Errors -----

    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              enum:
                - VALIDATION_ERROR
                - HASH_MISMATCH
                - SIGNATURE_INVALID
                - UNKNOWN_ISSUER
                - DUPLICATE
                - IDEMPOTENCY_KEY_CONFLICT
                - POLICY_NOT_FOUND
                - WORKSPACE_NOT_FOUND
                - WEBHOOK_NOT_CONFIGURED
                - RATE_LIMIT_EXCEEDED
                - NOT_FOUND
                - UNAUTHORIZED
                - FORBIDDEN
                - INTERNAL_ERROR
            message: { type: string }
            details:
              oneOf:
                - type: object
                  additionalProperties: true
                - type: "null"
          required: [code, message]
      required: [error]

  # --------------------------------------------------------------------------
  # Examples
  # --------------------------------------------------------------------------

  examples:

    BasicApiCallReceipt:
      summary: Minimal v0.1 api_call receipt (no action_context)
      value:
        workspace_id: 550e8400-e29b-41d4-a716-446655440000
        agent_id: agent-research-bot
        action_type: api_call
        terms_url: https://api.example.com/terms
        terms_hash: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        timestamp: 2026-05-18T14:22:01.514Z
        pricing_version: 2025-01
        receipt_id: 550e8400-e29b-41d4-a716-446655440010
        amount_charged: 1000
        created_at: 2026-05-18T14:22:01.520Z
        ors_version: '0.1'
        issuer: https://api.observe.openterms.com
        canonical_hash: d486a0a0d298a91b52544aea298693f0ea3584d5f808955d7c09d5f99c16ee32
        signature: c2lnbmF0dXJlX2V4YW1wbGVfYmFzZTY0dXJsX25vcGFkZGluZw
        key_id: key_abc123def456

    DataAccessWithCommitmentsReceipt:
      summary: data_access receipt with ors.commitments under action_context
      value:
        workspace_id: 550e8400-e29b-41d4-a716-446655440000
        agent_id: agent-orchestrator
        action_type: data_access
        terms_url: https://data.example.com/terms
        terms_hash: bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
        timestamp: 2026-05-18T14:25:00.000Z
        pricing_version: 2025-01
        receipt_id: 550e8400-e29b-41d4-a716-446655440011
        amount_charged: 1000
        created_at: 2026-05-18T14:25:00.120Z
        ors_version: '0.1'
        issuer: https://api.observe.openterms.com
        provider:
          origin: https://data.example.com
          provider_id: provider_data_001
        action_context:
          model: gpt-5.2
          endpoint: /v1/query
          token_count: 1840
          dataset: customer_orders
          ors:
            commitments:
              tool_id: data.query
              args_hash: cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc
              pre_state_hash: '1111111111111111111111111111111111111111111111111111111111111111'
              post_state_hash: '2222222222222222222222222222222222222222222222222222222222222222'
        canonical_hash: e5dff2aac4050d92e486761ab21682ea441c3f2e1d8d7d98ac3fd884bbb91d88
        signature: c2lnbmF0dXJlX2V4YW1wbGVfZGF0YV9hY2Nlc3M
        key_id: key_abc123def456

    PolicyClassificationReceipt:
      summary: v0.2 receipt with terms_type / terms_service / terms_version
      value:
        workspace_id: 550e8400-e29b-41d4-a716-446655440000
        agent_id: my-agent-v2
        action_type: api_call
        terms_type: Privacy Policy
        terms_service: openai
        terms_version: '2024-01-15'
        terms_url: https://openai.com/policies/privacy-policy
        terms_hash: cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc
        timestamp: 2026-04-01T12:00:00.000Z
        pricing_version: 2025-01
        receipt_id: 550e8400-e29b-41d4-a716-446655440012
        amount_charged: 0
        created_at: 2026-04-01T12:00:00.050Z
        ors_version: '0.2'
        issuer: https://api.observe.openterms.com
        canonical_hash: 0a1b2c3d4e5f60718293a4b5c6d7e8f90a1b2c3d4e5f60718293a4b5c6d7e8f9
        signature: c2lnbmF0dXJlX2V4YW1wbGVfdjAuMg
        key_id: key_abc123def456
